<div class="container">
  <h2 *ngIf="aeros && aeros.length > 0">{{ title }}</h2>
  <hr>

  <div class="my-2">
    <div class="row">
      <div class="col-md-4">
        <span class="Filter">Filtre actuel: </span>
        <b>{{ aeroFilter }}</b>
      </div>
      <div class="col-md-8 form-group">
        <input type="text" class="form-control" [(ngModel)]="aeroFilter">
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let aero of filteredAeros">
      <div class="card">
        <img
          [src]="aero.imageUrl"
          [title]="aero.AeroName | uppercase"
          class="card-img-top"
          [alt]="aero.AeroName"
        />
        <div class="card-body">
          <h5 class="card-title">
            {{ aero.AeroName | uppercase }}
          </h5>
          <p class="card-text">
            {{ aero.description }}
          </p>
          <p class="card-text">
            {{ aero.price | currency: "FCFA":"symbol":"1.2-2":"fr"}}
          </p>

          <div class="d-flex justify-content-between align-items-baseline">
            <span class="material-icons bg-primary text-while p-2 rounded-circle btn"
              [routerLink]="['/aeros', aero.id, 'edit']">
              location_on
            </span>
            <span class="material-icons bg-info text-while p-2 rounded-circle btn"
              [routerLink]="['/aeros', aero.id]">
              keyboard_arrow_right
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

